<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/myLogin/css/style.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
</head>
<body>
<div class="box">
    <div class="cover_box">
        <h1>只因你实在是太美!</h1>
        <p>你干嘛</p>
        <div class="img_box">
            <img th:src="@{/myLogin/img/Nahida.jpg}">
        </div>
    </div>
    <div class="register_form">
        <div class="title_box">
            <h1>注册</h1>
        </div>
        <div class="input_box">
            <input type="text" placeholder="用户名">
            <input type="password" placeholder="密码">
            <input type="password" placeholder="确认密码">
        </div>
        <div class="btn_box">
            <input type="button" value="注册">
            <p onclick="swi()">已有帐号，点只因登录</p>
        </div>

    </div>
    <div class="login_form">
        <div class="title_box">
            <h1>登录</h1>
        </div>
        <div class="error_box" style="color: red">
            <span th:if="${param.error}" th:text="#{login.error}">用户名或密码错误!</span>
        </div>
        <form class="input_box" name="loginForm" th:action="@{/login}" method="post">
            <div>
                <input type="hidden" name="url" th:value="${url}">
            </div>
            <input type="text" placeholder="用户名" name="username">
            <input type="password" placeholder="密码" name="password">
        </form>
        <div class="btn_box">
            <input type="button" value="登录" onclick="document.loginForm.submit();">
            <p onclick="swi()">还没有账号？点击注册</p>
        </div>
    </div>
</div>
<div class="footer_box">
    <p>本页面仅供学习交流使用&nbsp;&nbsp;&nbsp;&nbsp;本页参考<a
            href="https://player.bilibili.com/player.html?aid=600881896&bvid=BV1RB4y1h7bT&cid=774282461&page=1">bilibili</a>
    </p>
</div>
<script>
    var flag = true;

    function swi() {
        if (flag) {
            $(".cover_box").css("transform", "translateX(100%)")
            $(".cover_box").css("background-color", "rgb(252,252,135)")
            $("img").attr("src", "./myLogin/img/iKun.jpg")
        } else {
            $(".cover_box").css("transform", "translateX(0%)")
            $(".cover_box").css("background-color", "rgb(139,240,130)")
            $("img").attr("src", "./myLogin/img/Nahida.jpg")
        }
        flag = !flag
    }
</script>
</body>
</html>