* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background: linear-gradient(to right, rgb(96, 234, 83), rgb(156, 211, 224), rgb(250, 250, 85));
    user-select: none;
}

.box {
    /* width: 66%; */
    /* height: 66%; */
    min-width: 830px;
    min-height: 450px;
    display: flex;
    position: relative;
    /* background-color: white; */
    margin: auto;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255, .2);
    box-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
}

.cover_box {
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(139, 240, 130);
    box-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
    overflow: hidden;
    transition: .5s ease-in-out;

}

.cover_box h1 {
    margin-top: 100px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    text-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
}

.cover_box p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
}

.img_box {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
}

.img_box img {
    width: 100%;
}

.register_form,
.login_form {
    flex: 1;
    height: 100%;
}

.title_box {
    height: 200px;
    line-height: 300px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px 4px 3px rgb(0, 0, 0, .1);
}

.error_box {
    height: 25px;
    text-align: center;
}

.input_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_box input {
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    text-indent: 4px;
    border: 1px solid #75e871;
    border-radius: 4px;
}

.input_box input:focus {
    color: #75e871;
}

.input_box input:focus::placeholder {
    opacity: 0;
}

.btn_box {
    display: flex;
    justify-content: center;
}

.btn_box input {
    width: 100px;
    height: 30px;
    margin: 0 7px;
    line-height: 30px;
    border: none;
    background-color: #69ef65;
    color: white;

    border-radius: 4px;
}

.btn_box input:hover {
    cursor: pointer;
    opacity: .8;
}

.btn_box p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;

}

.btn_box p:hover {
    cursor: pointer;
    border-bottom: 1px solid;
}

.footer_box {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 10px;
}